body {
  width: 100vw;
  height: 100vh;

  /* background: linear-gradient(to bottom right, #f0649e, #faa52a, #f0649e, #faa52a, #f0649e); */
  background-size: 1000% 1000%;
  animation: gradient 20s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.icp {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 45px;
  text-align: center;
}
